<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
	<!--<![endif]-->
	<head>

		<!-- Basic Page Needs
		================================================== -->
		<meta charset="utf-8">
		<title>Conception Connection</title>
		<meta name="description" content="Conception Connection - The app that figures out which world event led to your parents getting frisky">
		<meta name="author" content="Maarten van Grootel">

		<!-- Mobile Specific Metas
		================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
		<!-- CSS
		================================================== -->
		<link rel="stylesheet" href="stylesheets/base.css">
		<link rel="stylesheet" href="stylesheets/skeleton.css">
		<link rel="stylesheet" href="stylesheets/layout.css">
		<link rel="stylesheet" href="stylesheets/site.css">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				$("#date").datepicker({
					dateFormat:"yy-mm-dd",changeMonth:true,changeYear:true,maxDate:"+1D"
				});
				$('#conception-form').submit(function(event) {
					event.preventDefault();
					
					var result=$.post("/",$(this).serialize());
					
					result.done(function(data) {
						$("#result").empty().html(data)
					});
				});
			});
		</script>

		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<header class="container">
			<div class="sixteen columns">
				<h1>CONCEPTION CONNECTION</h1>
			</div>
		</header>
		<div class="container">
			<div class="sixteen columns">
				<h3> We calculate your approximate date of conception. Then we determine the historical event most likely
				to have led to your parents having unprotected sex! </h3>
			</div>
			<div class="sixteen columns">
				<form id="conception-form" style="padding-left: 15%">
					<label for="date">Enter your date of birth</label>
					<input id="date" style="display:inline;" type="text" name="date" value="1982-03-05" class="datepicker" />

					<input style="display: inline;" type="submit" value="Find out why your parents were feeling frisky!"  />
				</form>
			</div>
			<div id="result" class="ten columns">
				<p>
					&nbsp;
				</p>
			</div>
			<div class="six columns">
				<ol>
					<li>
						Inspired by <a href="http://www.smbc-comics.com/index.php?db=comics&id=2922#comic">this comic</a>
						created by the amazing <a href="http://www.smbc-comics.com/">Saturday Morning Breakfast Cereal</a>
					</li>
					<li>
						Data from <a href="http://www.wikipedia.com">Wikipedia</a>
					</li>
				</ol>
			</div>
			<div class="twelve columns">
				<p><small>Made by <a href="http://twitter.com/mvgrootel/">Maarten van Grootel</a> on <a href="http://www.sinatrarb.com">Sinatra</a></small></p>	
			</div>
		</div><!-- container -->
	</body>
</html>
