body {
	background-color:#AACAFB;
}
.container {
	background-color:#fff;
	border:7px solid #000;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	padding: 10px;
}
header {
	margin-top:20px !important;
	margin-bottom:10px !important;
}
header h1 {
	text-align: center;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Nevis', 'Arial Black', sans-serif;
	margin-top: 9px;
}
#result {
	min-height: 200px; 
   	height:auto !important; 
   	height: 200px; 
}
